@charset "UTF-8";

@use 'import/lib-fonts';
@use 'import/reset-css';

/* clearfix */
.clearfix {
    *zoom: 1;
    &:before,
    &:after {
        content: '';
        display: block;
    }
    &:after {
        clear: both;
    }
}

/* common */
html,
body {
    width: 100%;
    height: 100%;
}

#wrap {
    position: relative;
    width: 100%;
    min-width: 320px;
}

/* hidden */
.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    white-space: nowrap;
}
/* dim */
#dim {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9;
}
// html.is-locked,
html {
    &.is-locked {
        body {
            height: calc(var(--window-inner-height) - 1px);
            overflow: hidden;
            box-sizing: border-box;
        }
        #wrap {
            position: fixed;
        }
    }
}

/* 말줄임 */
.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.titArea {
    width: 100%;
    height: 100vh;
    background: #999;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.1);
    }
    h3 {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: #fff;
        font-size: 72px;
        font-weight: 700;
        line-height: 120%;
        z-index: 2;
        text-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    }
    .scrollBtn {
        position: absolute;
        bottom: 28px;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        button {
            color: #fff;
            font-size: 11px;
            font-weight: 400;
            position: relative;
            span {
                transform: rotate(-90deg);
                transform-origin: center;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                top: -2px;
                padding: 20px 15px;
            }
            &::before {
                content: '';
                position: absolute;
                bottom: -55px;
                left: 50%;
                transform: translate(-50%, 0%);
                width: 1px;
                height: 60px;
                background: rgba(255, 255, 255, 0.3);
            }
            &::after {
                content: '';
                position: absolute;
                top: 48px;
                left: 50%;
                transform: translate(-50%, 0%);
                width: 1px;
                height: 0px;
                background: rgba(255, 255, 255, 1);
                animation: scrollmove 1s ease-in infinite;
            }
        }
        // &:hover {
        //     button {
        //         &::after {
        //             transition: all 0.5s ease;
        //             height: 60px;
        //         }
        //     }
        // }
        // &:not(:hover) {
        //     button {
        //         &::after {
        //             transition: all 0.5s ease;
        //         }
        //     }
        // }
    }
}

@keyframes scrollmove {
    0% {
        height: 0;
    }
    100% {
        height: 60px;
    }
}

.navBtn {
    display: block;
    font-size: 0;
    width: 48px;
    height: 24px;
    z-index: 9;
    button {
        position: relative;
        display: flex;
        width: 48px;
        height: 24px;
        .line {
            width: 24px;
            height: 2px;
            background: #fff;
            display: inline-block;
            position: absolute;
            right: 0px;
            opacity: 1;
            transition: all 0.1s ease;
            &:nth-child(1) {
                width: 16px;
                top: 6px;
                transform: rotate(0deg);
            }
            &:nth-child(2) {
                width: 48px;
                top: 18px;
                transform: rotate(0deg);
            }
        }
        &.active {
            .line:nth-child(1) {
                width: 28px;
                transform: rotate(45deg);
                position: absolute;
                top: 9px;
            }
            .line:nth-child(2) {
                width: 28px;
                transform: rotate(-45deg);
                position: absolute;
                top: 9px;
            }
        }
    }
}

/* 헤더영역 */
#header {
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9;
    > .inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 60px 0px;
        .logoWrap {
            z-index: 9;
            h1 {
                line-height: normal;
                a {
                    font-size: 16px;
                    font-weight: 300;
                    color: #000;
                    line-height: 20px;
                    span {
                        letter-spacing: 2.8px;
                        display: block;
                        &:nth-child(1) {
                            letter-spacing: 5.1px;
                        }
                    }
                }
            }
        }
        .navWrap {
            display: flex;
            align-items: center;
            gap: 60px;
            .navList {
                height: 100%;
                display: flex;
                align-items: center;
                ul {
                    display: flex;
                    gap: 30px;
                    li {
                        text-align: left;
                        font-size: 14px;
                        font-weight: 300;
                        letter-spacing: 0.5px;
                        a {
                            color: #000;
                            transition: all 0.5s ease;
                        }
                    }
                }
            }
        }
    }
    &.active {
        .inner {
            background: #fff;
            padding: 10px 60px;
            box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
            transition: all 0.5s ease;
            .logoWrap {
                h1 {
                    a {
                        img {
                            filter: invert(1);
                        }
                        span {
                            color: #000;
                        }
                    }
                }
            }
            .navWrap {
                ul {
                    li {
                        a {
                            color: #000;
                        }
                    }
                }
                .navBtn {
                    button {
                        .line {
                            background: #000;
                        }
                    }
                }
            }
        }
    }
    &:not(.active) {
        .inner {
            transition: all 0.5s ease;
        }
    }
}

#footer {
    background: #222;
    .inner {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 40px 0px;
        .addrArea {
            text-align: center;
            > div {
                h3 {
                    color: #fff;
                    font-size: 18px;
                    font-weight: 500;
                    margin-bottom: 4px;
                }
                p {
                    color: rgba(255, 255, 255, 0.6);
                    font-size: 14px;
                    font-weight: 400;
                    padding:10px 0px;
                    span {
                        padding:0px 10px;
                    }
                }
            }
            .address {
                text-align: center;
                p {
                    gap: 5px;
                }
            }
        }
        .snsArea {
            ul {
                text-align: center;
                li {
                    color: rgba(255, 255, 255, 0.4);
                    font-size: 12px;
                    font-weight: 400;
                    text-align: center;
                }
            }
        }
    }
}

// 스크롤탑
.scrollTop {
    position: fixed;
    bottom: 40px;
    right: 40px;
    color: #fff;
    border: none;
    width: 32px;
    height: 32px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 999px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    z-index: 8;
    &:hover {
        color: #fff;
        background-color: #474747;
        transition: all 0.3s ease;
    }
}

section {
    width: 100%;
    height: 100vh;
    &.introSec {
        // background: linear-gradient(
        //     to bottom,
        //     #000000 0%,
        //     #ffffff 100%
        // );
        background: #111;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        h2 {
            color: #fff;
            text-align: center;
            font-size: 90px;
            font-weight: 100;
            p:nth-child(1) {
                letter-spacing: 1px;
            }
        }
        .scrollBtn {
            position: absolute;
            bottom: 28px;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
            button {
                color: #fff;
                font-size: 11px;
                font-weight: 400;
                position: relative;
                span {
                    transform: rotate(-90deg);
                    transform-origin: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    top: -2px;
                    padding: 20px 15px;
                }
                &::before {
                    content: '';
                    position: absolute;
                    bottom: -55px;
                    left: 50%;
                    transform: translate(-50%, 0%);
                    width: 1px;
                    height: 60px;
                    background: rgba(255, 255, 255, 0.3);
                }
                &::after {
                    content: '';
                    position: absolute;
                    top: 48px;
                    left: 50%;
                    transform: translate(-50%, 0%);
                    width: 1px;
                    height: 0px;
                    background: rgba(255, 255, 255, 1);
                    animation: scrollmove 1s ease-in infinite;
                }
            }
            // &:hover {
            //     button {
            //         &::after {
            //             transition: all 0.5s ease;
            //             height: 60px;
            //         }
            //     }
            // }
            // &:not(:hover) {
            //     button {
            //         &::after {
            //             transition: all 0.5s ease;
            //         }
            //     }
            // }
        }
    }
    &.projectSec {
        background: url('../img/bg-portfolio.png') center no-repeat;
        background-size: cover;
        height:auto;
        .inner {
            width:100%;
            max-width:1200px;
            margin:0 auto;
            padding:160px 0px;
            text-align: center;
            > h4 {
                margin-bottom:12px;
            }
            > p {
                font-weight: 400;
                font-size:24px;
                margin-bottom:80px;
            }
            .tabs {
            display: inline-flex;
            gap: 12px;
            padding:10px;
            margin-bottom: 120px;
            background: #fff;
            border-radius: 50px;
            box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
            .tab {
                padding: 10px 18px;
                border-radius: 20px;
                cursor: pointer;
                font-size: 0.95rem;

                &.active {
                background: linear-gradient(90deg,rgba(244, 244, 255, 1) 0%, rgba(223, 224, 246, 1) 50%, rgba(244, 244, 255, 1) 100%);
                color: #384059;
                }
            }
            }
            .projects {
                display: none;
                gap: 3.5%;
                &.active {
                    display: flex;
                    flex-wrap: wrap;
                }
                .project {
                    border-radius: 12px;
                    overflow: hidden;
                    transition: transform 0.3s ease;
                    cursor: pointer;
                    width:31%;
                    margin-bottom:48px;
                    &:hover {
                        transform: translateY(-6px);
                    }
                    .thumb {
                        height: 270px;
                        border-radius: 20px;
                        background: linear-gradient(135deg, #ddd, #bbb);
                        overflow: hidden;
                        img {
                            transform: scale(1.3);
                            transform-origin: top;
                        }
                        .overlay {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            border-radius: 20px;
                            background-color: rgba(0,0,0,0.5); /* 딤드 효과 */
                            color: #fff;
                            display: flex;
                            height: 270px;
                            justify-content: center;
                            align-items: center;
                            opacity: 0;
                            visibility: hidden;
                            transition: opacity 0.3s;
                            font-size: 1.5rem;
                            font-weight: bold;
                            span {
                                display: inline-block;
                                width:100px;
                                height:100px;
                                text-align: center;
                                line-height: 100px;
                                font-size:14px;
                                font-weight: 600;
                                background:rgba(0, 0, 0, 0.5);
                                border-radius: 50%;
                                border:1px solid #999;
                            }
                        }
                        &:hover .overlay {
                            visibility: visible;
                            opacity: 1; /* 마우스 오버시 나타남 */
                        }
                    }
                    .project-info {
                        padding: 16px 0px;
                        text-align: left;
                        h3 {
                            margin-bottom: 6px;
                            font-size: 25px;
                            font-weight: 600;
                            color:#222;
                        }
                        p {
                            span {
                                display: inline-block;
                                margin-right:4px;
                                font-size: 13px;
                                color: #AEAEC4;
                                padding:4px 12px;
                                border-radius: 50px;
                                background:rgba(169, 169, 189, 0.12);
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Modal */
.modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    &.active {
        display: flex;
    }
    .modal-content {
        background: #fff;
        max-width: 1200px;
        width: 100%;
        height: calc(100dvh - 100px);
        padding: 24px 20px;
        position: relative;
        overflow: auto;
        img {
            width: 100%;
            border-radius: 12px;
        }
    }
    .close {
        position: absolute;
        top: 55px;
        right: 40px;
        font-size: 34px;
        color:#fff;
        font-size: 0px;
        width:24px;
        height:24px;
        background:url('../img/icon/ico-close.png') no-repeat 50% / 100%;
        filter: invert(1);
    }
}


// **** 팝업 ****
.popWrap {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    width: 100%;
    border-radius: 8px;
    background: #fff;
    overflow: hidden;
    padding: 20px 0px;
    height: auto;
    max-height: unset;
    .popHead {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #e4e4e4;
        padding: 0px 24px 16px;
        .popTitle {
            color: #222;
            font-size: 18px;
            font-weight: 700;
            letter-spacing: -0.5px;
        }
        .popClose {
            width: 24px;
            height: 24px;
            text-indent: -9999px;
            background: url('../img/icon/ico-pop-close.svg') no-repeat center;
            filter: invert(1);
        }
    }
    .popBody {
        flex-grow: 1;
        min-height: 0;
        height: 100%;
        > .inner {
            padding: 16px 24px 0px;
            display: flex;
            flex-direction: column;
            height: 100%;
            overflow: hidden;
            overflow-y: auto;
        }
    }
}

/* 탭메뉴 */
.tabWrap {
    margin-top: 32px;
    flex: 1;
    display: flex;
    flex-direction: column;
    .tabMenu {
        list-style: none;
        display: flex;
        padding: 0;
        margin: 0;
        gap: 0px;
        border-bottom: 1px solid #ddd;
        li {
            text-align: center;
            padding: 13px 16px;
            cursor: pointer;
            border-bottom: 2px solid transparent;
            color: rgba(0, 0, 0, 0.4);
            font-size: 16px;
            font-weight: 700;
            height: 48px;
            &.active {
                border-bottom: 2px solid var(--primary-default);
                font-weight: bold;
                color: var(--primary-default);
            }
        }
    }
    .tabContent {
        flex: 1;
        display: flex;
        flex-direction: column;
        .tabPanel {
            display: none;
            > .titArea:first-of-type {
                margin-top: 24px;
            }
            &.active {
                display: flex;
                flex-direction: column;
                flex: 1;
            }
            /*
            .btnArea {
                margin-top: auto;
                padding-top: 24px;
            }
                */
        }
    }
}

/* iscroll */
.iscrollBox {
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    .scroller {
        display: block;
        white-space: nowrap;
        li {
            display: inline-block;
        }
    }
    .iScrollHorizontalScrollbar {
        height: 4px !important;
        bottom: 0px !important;
        background: transparent;
        border-radius: 4px;
    }
    .iScrollIndicator {
        background: rgba(0, 0, 0, 0.2) !important;
        border-radius: 4px;
    }
}

.toggleBtn {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    text-indent: -9999px;
    background: url('../img/icon/ico-eye-off.svg') no-repeat 100% / 100%;
    filter: invert(1) brightness(0.8);
    &.active {
        background: url('../img/icon/ico-eye.svg') no-repeat 100% / 100%;
    }
}

/* 스크롤바 전체 */
*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
*::-webkit-scrollbar-track {
    background: #f9f9f9; /* 트랙 배경색 */
    border-radius: 4px;
}
*::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5); /* 기본 색상 */
    border-radius: 4px;
}

/* 아이콘 영역 */
.ico {
    display: inline-block;
    text-indent: -9999999999px;
    vertical-align: middle;
}
.icoClose {
    width: 24px;
    height: 24px;
    background: url('../img/icon/ico-close.png') no-repeat 50% / 100%;
}

/* media query */
@media all and (min-width: 1201px) {
    html {
        font-size: 16px;
    }
}

@media all and (max-width: 1200px) {
    html {
        font-size: 15px;
    }

    #header {
        .inner {
            padding: 16px 20px;
            .navWrap {
                > ul {
                    display: none;
                }
                .navListWrap {
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    padding: 0px 20px;
                    gap: 10%;
                    .navList {
                        height: auto;
                    }
                }
            }
        }
        &.active {
            .inner {
                padding: 10px 20px;
            }
        }
    }
    #footer {
        padding: 40px 20px;
        .inner .addrArea > div h3 {
            font-size: 14px;
            br {
                display: none;
            }
        }
        .contact {
            p {
                display: flex;
                flex-direction: column;
            }
        }
    }
    section {
        padding:30px 20px;
        .inner {
            padding: 100px 0px;
        }
    }
    section.projectSec {
        .inner {
            .tabs {
                width:100%;
                overflow-y: auto;
                border-radius: 100px;
            }
            .projects {
                .project {
                    width:48%;
                    .project-info {
                        h3 {
                            font-size:18px;
                        }
                        p {
                            span {
                                font-size:11px;
                                padding:2px 6px 3px;
                            }
                        }
                    }
                }
            }
        }
    }
    .modal {
        .modal-content {
            height: calc(100dvh - 0px);
            padding:55px 20px;
        }
        .close {
            width:20px;
            height:20px;
            top:20px;
            right:20px;
            z-index: 9;
            filter: invert(0);
            text-shadow: 0px 1px 6px rgba(255, 255, 255, 0.5);
        }
    }
}

@media all and (max-width: 767px) {
    html {
        font-size: 14px;
    }
}
